 body {
	       background-color: #333;
	   }
	   .x-tabpanel > .x-panel-body .x-panel-body {
	       padding: 100px 0;
	       text-align: center;
	       font-size: 20px;
	       font-weight: bold;
	       color: rgba(0,0,0,.2);
	       text-shadow: rgba(255,255,255,.2) 0 1px 0;
	       padding: 100px 15%;
	   }
	   .x-phone .x-tabpanel > .x-panel-body .x-panel-body {
	       padding: 5px 5px;
	       font-size: 12px;
	   }
	   .x-phone p {
	       font-size: 12px;
	       line-height: 16px;
	   }
	   h1 {
	       font-weight: bold;
	   }
	   p {
	       font-size: 12px;
	       line-height: 16px;
	   }
	   .card1 .x-panel-body {
	       background-color: #ccc;
	   }
	   .card2 .x-panel-body {
	       background-color: #5E99CC;
	   }
	   .card3 .x-panel-body {
	       background-color: #759E60;
	   }
	   .card4 .x-panel-body {
	       background-color: #9C744F;
	   }
	   .card5 .x-panel-body {
	       background-color: #926D9C;
	   }
	   
	   
       .x-speaker-list-item {
            margin:-1.2em -1.2em 1.2em -1.2em;
            overflow:hidden;
       }

                   .x-speaker-list-item .avatar{
                        width:42px;height:42px;
                        margin-right:10px;
                        float:left;
                   }
                    
                   .x-speaker-list-item .avatar img {
                        -webkit-border-radius:0.5em;
                        border-radius:0.5em;
                        width:40px;height:40px;
                    }
        
        .bio_overview{
            margin:-1.2em -1.2em 1.2em -1.2em;
            overflow:hidden;
        }
                    .bio_overview h3{
                        margin-top:.9em                
                    }
                        
                    .bio_overview .avatar{
                        margin:1.2em .9em 1.2em;
                        float:left;
                        width:60px;
                        height:60px;
                        background-size:62px auto
                    }
                    
                   .bio_overview .avatar img {
                        width:58px;
                        height:58px;
                    }
        .x-list-item-body{
                display:-webkit-box;
                display:box;
                -webkit-box-orient:horizontal;
                box-orient:horizontal;
                -webkit-box-align:center;
                box-align:center
            
        }
        
        .x-list-item-body strong{
                font-weight:bold}
                
       .x-list-item-body .name{
                -webkit-box-flex:1;
                box-flex:1;
                font-weight:bold;
                font-size:1.4em;
                overflow:hidden;
                text-overflow:ellipsis;
                display:block;
                white-space:nowrap;
                overflow:hidden
            
        }
        .x-list-item-body .secondary{
            display:block;
            font-size:10px !important;color:#d40e3f;
            margin-left:.5em;
            white-space:nowrap;overflow:hidden;
            text-overflow:ellipsis
                
       }
   
   
